/*
共通 スタイル
*/

/*************************************************************************
 * 共通
 *************************************************************************/
/* listタグ */
section.entry-content #Ar_detail_items ul.Ar_detail_navi li {
  margin: 0 0 0 20px;
  list-style-type: none!important; /*ポチ消す*/
}
.entry-content ul li:before {
  background: #000000;
}
/* PC/SP固有処理 */
@media screen and (max-width: 767px) {
  /*SP固有*/
  .Ar_pc_only {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  /*PC固有*/
  .Ar_sp_only {
    display: none !important;
  }
}
/*************************************************************************
 * 開催中のキャンペーン
 *************************************************************************/

/* h2 副題 */
h2 .Ar_h2_small {
 font-size: 0.8em;
 margin-left: 8px;
}

/* アイテム */
#Ar_recommend_list ul {
  padding: 0;
}
#Ar_recommend_list ul li {
  margin: 0;
}
#Ar_recommend_list h3 {
	border-left: initial;
}
/* liの「・」を消す */
#Ar_recommend_list ul li:before {
	width: 0;
	height: 0;
}

/*************************************************************************
 * フローティングエリア
 *************************************************************************/
 .entry-content .Ar_floating_are img {
  margin: 0 0 0 0;
}
/* リンクアイコン 非表示*/
.entry-content .Ar_floating_are a[target="_blank"]:after {
  font-family: 'FontAwesome';
  content: initial !important;
  font-size: 0.9em;
  margin: 0 3px 0 2px;
}

 /* フローティングエリア（ヘッダー) */
#Ar_floating_header_area {
  display: block;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  text-align: center;
  padding: 0;
}
#Ar_floating_header_area .Ar_floating_list {
  max-width: 99%;
}
/* フローティングエリア（フッター) */
#Ar_floating_fooder_area {
  display: block;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 9999;
  text-align: center;
  padding: 0;
}
#Ar_floating_fooder_area .Ar_floating_list {
  max-width: 99%;
}

/*************************************************************************
 * フローティング（パターン1）ボタン数:2 背景：白
 *************************************************************************/
.Ar_floating_are .Ar_floating_list_p1 {
  height: 55px;
  padding-top: 5px;
  padding-bottom: 3px;
  background: #555555;
}
.Ar_floating_are .Ar_floating_list_p1 .Ar_floating_list_p1_body {
  display: inline;

}
.Ar_floating_are .Ar_floating_list_p1 .Ar_floating_botton {
  width: 45%;
  height: 90%;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #222222;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #222222;
}
.Ar_floating_are .Ar_floating_list_p1 .Ar_floating_botton a {
  font-size: 0.8em;
  color: #000000;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/*************************************************************************
 * フローティング（パターン2）ボタン数:1 背景：オレンジ
 *************************************************************************/
 .Ar_floating_are .Ar_floating_list_p2 {
  height: 70px;
  padding-top: 5px;
  padding-bottom: 3px;
  background: #555555;
}
.Ar_floating_are .Ar_floating_list_p2 .Ar_floating_list_p2_body {
  display: inline;
}
.Ar_floating_are .Ar_floating_list_p2 .Ar_floating_botton {
  width: 95%;
  height: 90%;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;
}
.Ar_floating_are .Ar_floating_list_p2 .Ar_floating_botton a {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/*************************************************************************
 * フローティング（パターン3）ボタン数:1 背景：白
 *************************************************************************/
 .Ar_floating_are .Ar_floating_list_p3 {
  height: 55px;
  padding-top: 5px;
  padding-bottom: 3px;
  background: #555555;
}
.Ar_floating_are .Ar_floating_list_p3 .Ar_floating_list_p3_body {
  display: inline;
}
.Ar_floating_are .Ar_floating_list_p3 .Ar_floating_botton {
  width: 95%;
  height: 90%;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #222222;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #222222;
}
.Ar_floating_are .Ar_floating_list_p3 .Ar_floating_botton a {
  font-size: 0.8em;
  color: #000000;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/*************************************************************************
 * アコーディオン
 ▼本体設定例
 <div class="ac-box">
  <input id="ac-1" name="accordion-1" type="checkbox" />
 <label for="ac-1"> HTMLコード </label>
 <div class="ac-small">
 <p>ここにテキスト流す</p>
 </div>
 </div>
 *************************************************************************/
 /* アコーディオンA */
.ac-box{
  width: auto;
  margin: 30px auto 5px;
}
/*ラベル*/
.ac-box label{
  max-width: 385px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background: #ffb36b;
  margin: auto;
  line-height: 50px;
  position: relative;
  display: block;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
}
/*ラベルホバー時*/
.ac-box label:hover{
  background: rgba( 250, 192, 61, 0.55 );
  -webkit-transition: all .3s;
  transition: all .3s;
}
/*チェックを隠す*/
  .ac-box input{
  display: none;
}
/*チェックのアイコン（↓）*/
.ac-box label:after{
  color: #fff;
  font-family:"FontAwesome";
  content:" \f078";
  }
/*チェックのアイコン（↑）*/
.ac-box input:checked ~ label::after {
  color: #fff;
  font-family:"FontAwesome";
  content:" \f077";
}
/*中身を非表示にしておく*/
.ac-box div{
  height: 0px;
  padding: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
/*クリックで中身を表示*/
.ac-box input:checked ~ div{
  height: auto;
  padding: 5px;
  background: #fff2e0;
  opacity: 1;
}
/*表示内容の調整*/
  .ac-box div p{
  color: #777;
  line-height: 23px;
  font-size: 14px;
  padding: 20px;
  text-align: justify;
}
.ac-small p{
  margin-bottom: 0px;
}

/*************************************************************************
 * お知らせ
 *************************************************************************/
#Ar_notice_area table {
  width: 100%;
}
#Ar_notice_area {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(246, 246, 246, .8);
}
#Ar_notice_area table tbody {
  margin: 5px 20px 5px 20px;
}
#Ar_notice_area table tr {
  border-bottom: initial;
}
/* 区分 */
#Ar_notice_area table th {
  background-color: rgba(246, 246, 246, .8);
  border: initial;
  padding: 1px;
  text-align: left;
  font-size: 0.7em;
  padding: 2px 5px;
  white-space: nowrap;
  width: 20px;
}
#Ar_notice_area table tr.Ar_campaign_notice th span {
  background-color: #00747a !important;
  border-radius: 3px;
  color: #fff;
  padding: 3px 3px 3px 3px;
}
#Ar_notice_area table tr.Ar_notice th span {
  background-color: #557400 !important;
  border-radius: 3px;
  color: #fff;
  padding: 3px 3px 3px 3px;
}
#Ar_notice_area table tr.Ar_news_notice th span {
  background-color: #aa66dd !important;
  border-radius: 3px;
  color: #fff;
  padding: 3px 3px 3px 3px;
}
/* 日時 */
#Ar_notice_area table td.Ar_date {
  background-color: rgba(246, 246, 246, .8);
  border: initial;
  padding: 1px;
  text-align: left;
  font-size: 0.7em;
  padding: 2px 5px;
  white-space: nowrap;
  width: 20px;
}
#Ar_notice_area table td.Ar_date span {
  background-color: rgba(246, 246, 246, .8);
  border: initial;
  padding: 0.7px;
  text-align: left;
  font-size: 0.7em;
  padding: 2px 5px;
}
/* メイン */
#Ar_notice_area table td.Ar_main span {
  background-color: rgba(246, 246, 246, .8);
  border: initial;
  padding: 0.7px;
  text-align: left;
  font-size: 0.8em;
  padding: 2px 5px;
}
#Ar_notice_area table td.Ar_main a {
  background-color: rgba(246, 246, 246, .8);
  border: initial;
  padding: 0.7px;
  text-align: left;
  font-size: 0.8em;
  padding: 2px 5px;
  color:#6b8e23; /* サイトカラー依存 */
}
#Ar_notice_area table td.Ar_main {
  background-color: rgba(246, 246, 246, .8);
  border: initial;
  padding: 0.7px;
  text-align: left;
  font-size: 0.8em;
  padding: 2px 5px;
}
/* メイン部 */
#Ar_notice_area table td.Ar_main a {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  /*PC固有*/
  #Ar_notice_area table th {
    font-size: 0.7em;
  }
  #Ar_notice_area table td.Ar_date {
    font-size: 1.0em;
  }
  #Ar_notice_area table td.Ar_main {
    font-size: 1.0em;
  }
}

/*************************************************************************
 * 開催中のキャンペーン
 *************************************************************************/
 @media screen and (max-width: 767px) {
  .single .authorbox .author-newpost li .eyecatch, .related-box #Ar_recommend_list li .eyecatch {
      height: auto;
  }
}

/*************************************************************************
 * Kindle 100%還元商品 
 *************************************************************************/
.entry-content #Ar_target_shop ul li {
  display: block;
  float: left;list-style-type: none!important;text-align: center;
}
.entry-content #Ar_target_shop ul li:before {
  width: 0; 
  height: 0;
}
.entry-content #Ar_target_shop img {
  margin: 0 0 0 0;
}
.entry-content #Ar_target_shop ul {
  margin:0 0 10px;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  -webkit-box-lines:multiple;
  -moz-box-lines:multiple;
  -webkit-flex-wrap:wrap;
  -moz-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}
.entry-content #Ar_target_shop li {
  width: 135px;
  font-size: 12px;
  margin:0 10px 10px 0;
  padding:10px;
  border:1px solid #aaa;
  background-color:#ddd;
  list-style:none;
}

/*************************************************************************
 * SP対応 テーブルに自動でスクロールを付与する
 ▼本体設定例
 <div class="Ar_table_scroll">
   <table>
     <tbody>
         :
 </div>
 *************************************************************************/
.Ar_table_scroll {
  overflow: auto;
}
.Ar_table_scroll table {
  width:100%;
}
.Ar_table_scroll::-webkit-scrollbar {
  height: 5px; /* スクロールバーの高さ */
}
.Ar_table_scroll::-webkit-scrollbar-track {
  background: #F1F1F1; /* スクロールバーの背景色 */
}
.Ar_table_scroll::-webkit-scrollbar-thumb {
  background: #d6d6d6; /* スクロールバーの色 */
}
.Ar_table_scroll td, .Ar_table_scroll th {
  white-space: nowrap; /* 文字の折返しを禁止 */
}

/*************************************************************************
 * 在庫情報 
 *************************************************************************/
/* 商品名 */
.Ar_stock_list div.Ar_stock_title {
  font-size: 1.2em;
  font-weight: bold;
}
.Ar_stock_list div.Ar_stock_title span.Ar_stock_site_name {
  padding-right: 10px;
}

 /* SPのみ 更新日時 */
 .Ar_stock_list div.Ar_stock_up_time {
  text-align: right;
  font-size: 0.7em;
  padding: 2px 5px;
}
/* 在庫情報 */
.Ar_stock_list .Ar_stock_contens td.Ar_stock_info {
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}
/* 在庫情報：在庫あり */
.Ar_stock_list .Ar_stock_contens td.Ar_in_stock {
  background-color:#D4FCCA;
}
/* 在庫情報：在庫なし */
.Ar_stock_list .Ar_stock_contens td.Ar_out_stock {
  background-color:#FFCEFF;
}
/* PCのみ 更新日時 */
.Ar_stock_list .Ar_stock_contens td.Ar_stock_up_time {
  font-size: 0.7em;
  text-align: center;
}
/* PCのみ 更新日時 */
.Ar_stock_list .Ar_stock_contens td.Ar_stock_remark {
  font-size: 0.8em;
}

/*************************************************************************
 * 買取価格情報 
 *************************************************************************/
/* 商品名 */
.Ar_price_list div.Ar_price_title {
  font-size: 1.2em;
  font-weight: bold;
}
.Ar_price_list div.Ar_price_title span.Ar_price_site_name {
  padding-right: 10px;
}

 /* SPのみ 更新日時 */
 .Ar_price_list div.Ar_price_up_time {
  text-align: right;
  font-size: 0.7em;
  padding: 2px 5px;
}
/* 買取価格情報 */
.Ar_price_list .Ar_price_contens td.Ar_price_info {
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}
/* 買取価格情報：買取価格あり */
.Ar_price_list .Ar_price_contens td.Ar_in_price {
  background-color:#D4FCCA;
}
/* 買取価格情報：買取価格なし */
.Ar_price_list .Ar_price_contens td.Ar_out_price {
  background-color:#FFCEFF;
}
/* PCのみ 更新日時 */
.Ar_price_list .Ar_price_contens td.Ar_price_up_time {
  font-size: 0.7em;
  text-align: center;
}
/* PCのみ 更新日時 */
.Ar_price_list .Ar_price_contens td.Ar_price_remark {
  font-size: 0.8em;
}

/*************************************************************************
 * 検索結果（プラン）
 *************************************************************************/
/* ランキングリスト */
.entry-content #Ar_search_item_list {
  background: #FFF;
  /*border-radius: 5px;*/ /* 角丸め */
  -webkit-border-top-left-radius: 5px;  
  -webkit-border-top-right-radius: 5px;  
  -moz-border-radius-topleft: 5px;  
  -moz-border-radius-topright: 5px;  
 
}
@media screen and (min-width: 768px) {
  #Ar_search_item_list .Ar_search_item {
    padding-top: 10px;
  }
  /* プラン詳細 */
  #Ar_search_item_list .Ar_search_item .Ar_search_item_detail {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }
  /* キャリア情報 */
  #Ar_search_item_list .Ar_search_item .Ar_search_item_career {
    width: 50%;
  }
  /* プラン情報 */
  #Ar_search_item_list .Ar_search_item .Ar_search_item_plan {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  /* プラン詳細 */
  #Ar_search_item_list .Ar_search_item .Ar_search_item_detail {
    padding-top: 5px;
  }
}

#Ar_search_item_list .Ar_search_item .Ar_search_item_plan_name a {
  text-decoration: none;
}
#Ar_search_item_list .Ar_search_item .Ar_search_item_plan_name a:hover {
  text-decoration: underline;
}
/* 詳細ボタン */
#Ar_search_item_list .Ar_search_item .Ar_search_item_plan_name .Ar_plan_detail_botton {
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  color: #FFF;
  background: #666666;
  font-size: 0.6em;
  padding: 3px;
  font-weight: initial;
  text-align:center;
  margin-left: 7px;
  margin-bottom: 3px;
  display: inline-block;
  vertical-align: middle;
}
#Ar_search_item_list .Ar_search_item .Ar_search_item_plan_name .Ar_plan_detail_botton:hover {
  opacity: 0.5;
}
/* 画像 */
#Ar_search_item_list .Ar_search_item .Ar_search_item_plan_img {
  padding: 0;
  display: flex;
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  margin-bottom: 10px;
}
#Ar_search_item_list .Ar_search_item .Ar_search_item_plan_img a {
  box-shadow: 0 5px 5px #666666;	/* 影（[右][下][ぼかし][影の色]）を指定する */
}
#Ar_search_item_list .Ar_search_item .Ar_search_item_plan_img img {
  margin: 0px;
  height: 80px;
}

/* プラン詳細 */
.Ar_search_item_plan dl {
  padding: 0 0 10px 0;
  margin-top: 0;
  margin-bottom: 0;
}
.Ar_search_item_plan dl dt {
  width:35%;
  margin-bottom: 0;
  font-size: 0.7em;
  float:left;
  clear:left;
  text-align: left;
  height: 2em;
}
.Ar_search_item_plan dl dd {
  float: left;
  width: 65%;
  text-align: left;
  margin-bottom: 0;
  border-bottom: 2px solid #dcdcdc;
}
/* 販売価格 */
.Ar_search_item_plan dt.Ar_search_item_price {
  background-size: 16px 16px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.Ar_search_item_plan dd.Ar_search_item_price .Ar_search_item_price_num {
  font-weight: bold;
  font-size: 1.2em;
  color: #CC0000;
}
.Ar_search_item_plan dd.Ar_search_item_price .Ar_search_item_price_yen {
  font-size: 0.7em;
  padding-left: 2px;
}
/* 販売者 */
.Ar_search_item_plan dt.Ar_search_item_seller {
  background-size: 16px 16px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.Ar_search_item_plan dd.Ar_search_item_seller {
  font-size: 1.0em;
  font-weight: bold;
}
/* 支払い方法 */
.Ar_search_item_plan dt.Ar_search_item_pay_type {
  background-size: 16px 16px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.Ar_search_item_plan dd.Ar_search_item_pay_type {
  font-size: 1.2em;
  font-weight: bold;
}
.Ar_search_item_plan dd.Ar_search_item_pay_type span {
  background-color: #1b5f62;
  color: #FFF;
  display: inline-block;
  border-radius: 3px;
  font-size: 11px;
  padding: 8px 8px 8px 8px;
  color: #fff;
  margin-left: 1px;
  line-height: 100%;
}
/* 商品説明 */
.Ar_search_item_plan dt.Ar_search_item_detail {
  background-size: 16px 16px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.Ar_search_item_plan dd.Ar_search_item_detail {
  font-size: 0.8em;
}
/* 更新日時 */
.Ar_search_item_plan dt.Ar_search_item_update {
  background-size: 16px 16px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.Ar_search_item_plan dd.Ar_search_item_update {
  font-size: 0.8em;
}
/* ターゲットボタン */
#Ar_search_item_list .Ar_search_item_botton {
  display: flex;
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  padding: 10px 0 10px 0;
}
#Ar_search_item_list .Ar_search_item_botton .Ar_search_item_botton_body {
  width: 50%;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;
}
#Ar_search_item_list .Ar_search_item_botton .Ar_search_item_botton_body:hover {
  opacity: 0.5;
}
#Ar_search_item_list .Ar_search_item_botton .Ar_search_item_botton_body a {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* ターゲットボタン(モーダル) */
.modaal-content-container .Ar_search_item_botton {
  display: flex;
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  padding: 10px 0 10px 0;
}
.modaal-content-container .Ar_search_item_botton .Ar_search_item_botton_body {
  width: 90%;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;
}
.modaal-content-container .Ar_search_item_botton .Ar_search_item_botton_body:hover {
  opacity: 0.5;
}
.modaal-content-container .Ar_search_item_botton .Ar_search_item_botton_body a {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* 次の10件を表示ボタン */
.Ar_search_item_list_bottom{
  /*border-radius: 5px;*/ /* 角丸め */
  -webkit-border-bottom-right-radius: 5px;  
  -webkit-border-bottom-left-radius: 5px;  
  -moz-border-radius-bottomright: 5px;  
  -moz-border-radius-bottomleft: 5px;  
  background: #FFFFFF;
}
#Ar_plan_list .Ar_next_plan_disp,
#Ar_device_list .Ar_next_device_disp {
  width: 95%;
  height: 90%;
  position: relative;
  display: inline-block;
  padding: 0.5em 0.5em;
  margin: 1em 0.5em 1.5em 0.5em;
  text-decoration: none;
  color: #222222;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #222222;
}
#Ar_plan_list .Ar_next_plan_disp:hover,
#Ar_device_list .Ar_next_device_disp:hover {
    opacity: 0.5;
}
#Ar_plan_list .Ar_next_plan_disp a,
#Ar_device_list .Ar_next_device_disp a {
    font-size: 0.8em;
  color: #000000;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

