<div class="Ar_stock_list">
    <div class="Ar_stock_title"><span class="Ar_stock_site_name">xxxx</span><span class="Ar_stock_item_name">商品名</span></div>
    <div class="Ar_stock_up_time Ar_sp_only">更新日時：2019年12月31日 12:21:11</div>
    <table>
        <tbody>
            <tr  class="Ar_stock_header">
                <th class="Ar_stock_shop"><span>販売店舗<span></th>
                <th class="Ar_stock_info"><span>在庫情報</span></th>
                <th class="Ar_stock_up_time Ar_pc_only"><span>更新日時</span></th>
                <th class="Ar_stock_remark Ar_pc_only"><span>備考</span></th>
            </tr>
            <tr class="Ar_stock_contens">
                <td class="Ar_stock_shop"><a target="_blank" href="https://google.com">xxxxストア</a></td>
                <td class="Ar_stock_info Ar_in_stock"><span>在庫あり</span></td>
                <td class="Ar_stock_up_time Ar_pc_only"><span>2019年12月31日 12:21:11</span></td>
                <td class="Ar_stock_remark Ar_pc_only"><span>すぐ売り切れます。</span></td>
            </tr>
            <tr class="Ar_stock_contens">
                <td class="Ar_stock_shop"><a target="_blank" href="https://google.com">xxxxストア</a></td>
                <td class="Ar_stock_info Ar_out_stock"><span>在庫なし</span></td>
                <td class="Ar_stock_up_time Ar_pc_only"><span>2019年12月31日 12:21:11</span></td>
                <td class="Ar_stock_remark Ar_pc_only"><span>すぐ売り切れます。</span></td>
            </tr>
            <tr class="Ar_stock_contens">
                <td class="Ar_stock_shop"><a target="_blank" href="https://google.com">xxxxストア</a></td>
                <td class="Ar_stock_info"><span>監視対象外</span></td>
                <td class="Ar_stock_up_time Ar_pc_only"><span>2019年12月31日 12:21:11</span></td>
                <td class="Ar_stock_remark Ar_pc_only"><span>すぐ売り切れます。</span></td>
            </tr>
        </tbody>
    </table>
</div>
