/*
Template:jstork
Theme Name:jstork_child
*/

/* マーカー定義 */
.marker_g {
	background: linear-gradient(transparent 60%,#5bed3b 60%);
}

.marker_b {
	background: linear-gradient(transparent 60%,#99ccff 60%);
}

.marker_o {
	background: linear-gradient(transparent 60%,#ffa500 60%);
}

.marker_p {
	background: linear-gradient(transparent 60%,#ff99cc 60%);
}

.marker_y {
	background: linear-gradient(transparent 60%,#faee00 60%);
}

.marker {
	background: linear-gradient(transparent 60%,#faee00 60%);
}

/* Simplicityから引き継ぎ */
/* ボックス表示 */
.sp-info {
	background-color: #D9EDF7;
	border-color: #BCE8F1;
	padding: 15px;
	border-radius: 4px;
	margin-bottom: 20px;
}

p {
	display: block;
}

/* SNS関連/
/* フォローボタン1*/
.flw_btn1 {
	display: inline-block;
	margin: 2px;
	padding: .5em 1em;
	font-size: 11px !important;
	text-align: center;
	text-decoration: none;
	width: 105px;
	border-radius: 3px;
	transition: .4s;
}

.flw_btn1.fb {
	color: #fff !important;
	border: solid 2px #6680d8 !important;
	background: #6680d8 !important;
}

.flw_btn1.fb:hover {
	color: #6680d8 !important;
	border: solid 2px #6680d8 !important;
	background: #fff !important;
}

.flw_btn1.htb {
	color: #fff !important;
	border: solid 2px #49a8fb !important;
	background: #49a8fb !important;
}

.flw_btn1.htb:hover {
	color: #49a8fb !important;
	border: solid 2px #49a8fb !important;
	background: #fff !important;
}

.flw_btn1.tw {
	color: #fff !important;
	border: solid 2px #22b8ff !important;
	background: #22b8ff !important;
}

.flw_btn1.tw:hover {
	color: #22b8ff !important;
	border: solid 2px #22b8ff !important;
	background: #fff !important;
}

.flw_btn1.pkt {
	color: #fff !important;
	border: solid 2px #ff6d82 !important;
	background: #ff6d82 !important;
}

.flw_btn1.pkt:hover {
	color: #ff6d82 !important;
	border: solid 2px #ff6d82 !important;
	background: #fff !important;
}

.flw_btn1.fdly {
	color: #fff !important;
	border: solid 2px #6cc655 !important;
	background: #6cc655 !important;
}

.flw_btn1.fdly:hover {
	color: #6cc655 !important;
	border: solid 2px #6cc655 !important;
	background: #fff !important;
}

.flw_btn1.gp {
	color: #fff !important;
	border: solid 2px #fd6969 !important;
	background: #fd6969 !important;
}

.flw_btn1.gp:hover {
	color: #fd6969 !important;
	border: solid 2px #fd6969 !important;
	background: #fff !important;
}

.flw_btn1.ist {
	color: #fff !important;
	border: solid 2px #e84cb6 !important;
	background: #e84cb6 !important;
}

.flw_btn1.ist:hover {
	color: #e84cb6 !important;
	border: solid 2px #e84cb6 !important;
	background: #fff !important;
}

.flw_btn1.cnt {
	color: #fff !important;
	border: solid 2px #878484 !important;
	background: #878484 !important;
}

.flw_btn1.cnt:hover {
	color: #878484 !important;
	border: solid 2px #878484 !important;
	background: #fff !important;
}

/* wp-product-review */
.wppr-review-container .review-wrap-up ul li:before{
	content:none;
}

#review-statistics .review-wrap-up .review-wu-right ul li:before {
	content: none;
}